/* Arc color scheme by horst3180 */

:root {
	/* Ubuntu Mono is actually not completely correct, but still better than monospace */
	--FONT: "DejaVu Sans Mono", "Ubuntu Mono", "monospace";

	/* Arc */
	--BG: rgb(231, 232, 235);
	--FG: rgb(82, 148, 226);
	--HEADER: rgb(255, 255, 255);
	--TEXT: rgb(59, 62, 69);
	--BACKDROP: rgb(64, 69, 82);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Arc-dark */
		--BG: rgb(47, 52, 63);
		--FG: rgb(82, 148, 226);
		--HEADER: rgb(255, 255, 255);
		--TEXT: rgb(211, 218, 227);
		/*--BACKDROP: (uncomment here in case it differs)*/
	}
}


/* Basics */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100%;
	margin: 0;
	background-color: var(--BG);
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}


/* Clock */

.clock {
	font-size: 50px;
	font-weight: 200;
	color: var(--TEXT);
}


/* Bookmarks box */

h1,
a {
	font-family: var(--FONT);
	font-size: 20px;
	margin: 0;
}

h1 {
	color: var(--HEADER);
}

a {
	text-decoration: none;
	color: var(--TEXT);
}

.bookmarks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	background-color: var(--BACKDROP);
	padding: 10px;
}

.card {
	background-color: var(--BG);
	min-width: 9em;
	margin: 10px;
}

.header {
	background-color: var(--FG);
	padding: 10px;
	text-align: center;
}

.content {
	padding: 10px;
}

ul {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

ul li ul li {
	margin-left: 20px;
}

li:before {
	content: "> ";
	color: var(--TEXT);
}


/* Media rules */

@media only screen and (max-height: 600px) {
	.hide {
		display: none;
	}
}
